- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

li
  if (event.picture)
    a(class='li-link', href='/event/'+event._id, title=event.name)
      img(src=event.picture, height=132)

  div
    h2= event.name
    span.helper-text= event.date.toDateString()

    br
    br
    strong= event.theme
    
    br
    if (event.teams)
      if (event.date >= new Date())
        |leading team: &nbsp
      else
        |winning team: &nbsp

      if (event.teams.length && event.teams[0].rank)
        strong= event.teams[0].name
      else
        |?
    
    br
    a(href="/event/#{event._id}/load", title="load") Load Event 

    if (is_admin)
      &nbsp
      a(href='/event/'+event._id+'/edit', title="edit") Edit
      &nbsp
      a(href='/event/'+event._id+'/admin', title="admin") Admin
      &nbsp
      a(class='destroy', href="/event/"+event._id, title="delete") Del