- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

div
  img(src=aCompetitor.user.picture, width=100)
  div
    a(href='/user/'+aCompetitor.user.id+'/profile') #{aCompetitor.user.username} 
    div #{aCompetitor.user.fname} #{aCompetitor.user.lname}
    if (aCompetitor.team)
      div 
        a(href='/team/'+aCompetitor.team.id, title=aCompetitor.team.name) #{aCompetitor.team.name}

    if (is_admin)
      br 
      br
      strong actions
      br
      a(href='/competitor/'+aCompetitor._id+'/edit', title="edit") Edit Competitor
      &nbsp|&nbsp
      a(href='/user/'+aCompetitor.user._id+'/edit', title="edit") Edit User
      &nbsp|&nbsp
      a(class='destroy', href="/competitor/"+aCompetitor._id, title="delete") Del