!= messages()

h2= title

p
  strong event &nbsp
  span= event.name


if (typeof(competitor) == 'undefined')
  form(method="post", action="/competitor/create")
    span you're not competing in this event 
    button so join it now!
else 
  if (currentEvent.picture)
    img(src=currentEvent.picture)


  h3 team
  p
    img(src=competitor.team.picture, width=100)
    br
    if (competitor.team)
      strong name:  
      = competitor.team.name

  h3 score
  p
    strong status: &nbsp
    if (currentRound && currentRound.is_open)
      span.open-round  open
    else
      span.closed-round closed
  p
    strong current round:
    if (currentRound)
      span #{currentRound.number}
  p 
    //todo: show result of team