!= messages()

h2= title

p
  strong event &nbsp
  span= currentEvent.name


if (typeof(competitor) == 'undefined')
  form(method="post", action="/competitor/create")
    span you're not competing in this event 
    button so join it now!
else 
  if (currentEvent.picture)
    img(src=currentEvent.picture)

  h3 team
  p
    if (competitor.team)
      img(src=competitor.team.picture, width=100)
      br
      strong name:  
      = competitor.team.name
    else
      .helper-text no team assigned

  h3 currently
  if (currentRound)
    p
      strong round &nbsp
        span #{currentRound.number}
  p
    strong status: &nbsp
    if (currentRound && currentRound.is_open)
      span.open-round  open
    else
      span.closed-round closed
  
  p 
    //todo: show result of team