- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

h2= title

form(method="post", action="/teams/"+team._id, enctype="multipart/form-data")
  input(name="_method", value='PUT', type='hidden')
  p 
    label(for='team[name]') Name
    br
    input(type="text", id="team[name]", name="team[name]", value=team.name)
  
  p 
    label(for='team[tagline]') Tagline
    br
    input(type="text", id="team[tagline]", name="team[tagline]", value=team.tagline)
  
  if (is_admin)
    p
      label(for='team[out_since]') Knocked Out Since
      &nbsp;
      input(type='text', id="team[out_since]", name="team[out_since]", value=team.out_since, style="width: 1em")

  p
    label(for='team[twitter]') Twitter Handle
    &nbsp;
    &#64; 
    input(type='text', id='team[twitter]', name='team[twitter]', value=team.twitter, maxlength=18, style="width: 8em")

  p 
    label(for='team[desc]') Description
    br
    textarea(id="team[desc]", name="team[desc]", maxlength="1000")= team.desc
  
 
  p
    if (team.picture)
      img(src=team.picture, width=100)
      &nbsp

    input(type="file", id="team_picture", name="team_picture")
  input(type="submit", value="Submit")
  &nbsp;
  a(href="/teams", title="[back]") [back]