- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

!= messages()

h2 Team details

.single-item
  img(src=team.picture, width=250)
  h2= team.name
  span.tagline #{team.tagline}
  if (team.twitter)
      a(href="https://twitter.com/"+team.twitter, class="twitter-follow-button",data-show-count="false") Follow &#64;#{team.twitter}
  div.desc= team.desc

if (typeof(currentCompetitor) != 'undefined' && currentCompetitor.team._id.toString() == team._id.toString())
  a(href='/team/'+team._id+'/edit', title="edit") Edit Your Team

p
  strong members
  div.people
    if (team.competitors.length)
      != partial('../competitors/competitor_list', {collection: team.competitors, as: 'aCompetitor'})
    else
      span#unassigned &nbsp none assigned

if (team.out_since > 0)
  p  
    strong update: 
    |knocked out following round #{team.out_since}

br(clear="all")

if (is_admin)
  p
    a(href='/team/'+team._id+'/edit', title="edit") Edit
    &nbsp;
    a(class='destroy', href='/team/'+team._id, title="delete") Delete
    &nbsp;
    a(href='/teams', title="back") Back