- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

tr(class="team") 
  td
    img(src=team.picture, width=50)
  td
    a(href='/team/'+team._id, title=team.name) #{team.name}
    
  td= team.competitors.length      
  
  td
    $#{team.last_price.toFixed(2)}

  - var klazz = (team.movement >= 0.00) ? 'positive' : 'negative'
  td(class=klazz)
    if (team.movement > 0.00) 
      span + 
    else if (team.movement < 0.00)
      span -
    =Math.abs(team.movement.toFixed(2))
  
  if (is_admin)     
    td 
      a(href='/team/'+team._id+'/edit', title="edit") Edit
      &nbsp
      a(class='destroy', href="/team/"+team._id, title="delete") Del