- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

tr(class="team") 
  td
    if (is_admin)
      a(href='/team/'+team._id, title=team.name) #{team.name}
    else
      | #{team.name}
 
  td
    if (!team.competitors.length)
      span -
    each aCompetitor in team.competitors
      if (is_admin)
        a(href='/user/' + aCompetitor.user.id, title='view user') #{aCompetitor.user.username} &nbsp
      else
        | #{aCompetitor.user.username} &nbsp      
  
  td
    $#{team.last_price.toFixed(2)}

  - var klazz = (team.movement >= 0.00) ? 'positive' : 'negative'
  td(class=klazz)
    if (team.movement > 0.00) 
      span + 
    else if (team.movement < 0.00)
      span -
    =Math.abs(team.movement.toFixed(2))
  
  if (is_admin)     
    td 
      a(href='/team/'+team._id+'/edit', title="edit") Edit
      &nbsp
      a(class='destroy', href="/team/"+team._id, title="delete") Del