!= messages()

h2= title
p Invest in a team

form(method="post",action="/investments")
  //input(type="hidden", name="csrf", value=csrf)

  p 
    label(for='investment[user]') User
    &nbsp;
    - if (user)
      span #{user.username}
    -else
      select(id='investment[user]', name='investment[user]')

  p 
    div.rounds Current Round: #{currentRound.number}
  
  ul#team-list
    each team, i in teams
      li Team: &nbsp
        input(type="hidden", name="investment[team_#{i}][team]", value=team._id)
        span.team-name=team.name     
        ul.percentage-slider-container
          li.percentage-slider(data-index=i)
          li(id='percentage-slider-amount-#{i}', class='percentage-slider-amount') 
            span 0%
            input(type="hidden", id="investment[#{i}][percentage]", name="investment[team_#{i}][percentage]", value=0)
  
  div#invested Total Invested &nbsp
    span#total-invested 
        
  input(type="submit", value="Submit")
  &nbsp;
  a(href="/", title="[back]") [back]