!= messages()

.single-item
  img(src=theUser.picture)
  h2 #{theUser.fname} #{theUser.lname}
  span.tagline= theUser.company
  if (theUser.twitter)
    br
    a(href="https://twitter.com/"+theUser.twitter, class="twitter-follow-button",data-show-count="false") Follow &#64;#{theUser.twitter}

  div.desc= theUser.bio

if (everyauth.loggedIn && everyauth.user.id == theUser.id)
  br
  a(href='/user/'+theUser._id+'/edit', title="edit") Edit Your Profile


if investors.length
  h3 events invested in
  ul.items.event-list.no-bullets
    each investor in investors
      != partial('../events/_event_list', {event: investor.event})
     

if competitors.length
  h3 events competed in
  ul.event-list.no-bullets
    each competitor in competitors
      li
        strong= competitor.event.name 
        if (competitor.team)
          &nbsp
          span member of: 
            strong= competitor.team.name

        div.date
          = competitor.event.date.toDateString() 

if (everyauth.loggedIn && everyauth.user.id == theUser.id && !investors.length &&!competitors.length)
  div no events yet!      