!= messages()

h2= title

if (theUser.picture)
  img(src=theUser.picture)

if (everyauth.loggedIn && everyauth.user.id == theUser.id)
  br
  a(href='/user/'+theUser._id+'/edit', title="edit") Edit Your Profile


if investors.length
  h3 events invested in
  ul.event-list.no-bullets
    each investor in investors
      li
        strong= investor.event.name 
        div.date
          = investor.event.date.toDateString() 

if competitors.length
  h3 events competed in
  ul.event-list.no-bullets
    each competitor in competitors
      li
        strong= competitor.event.name 
        if (competitor.team)
          &nbsp
          span member of: 
            strong= competitor.team.name

        div.date
          = competitor.event.date.toDateString() 
else 
  div no events yet      