!= messages()

h2 User details

p 
  strong username 
  &nbsp; #{user.username}
p
  strong email
  &nbsp; #{user.email}
p
  strong funds
  each fundz in user.funds
    - if (fundz < 0)
      span(class="in-the-red") 
        &nbsp; $#{fundz}
    - else 
      span
        &nbsp; $#{fundz}
p 
  strong team
  - if (user.team)
    &nbsp #{user.team.name}
  - else
    span#unassigned &nbsp none assigned 


table#user-transactions
  tr
    th.header(colspan=3)
      &nbsp transactions  
  tr
    th
      label
    th
      amount
    th
      round
   != partial('../transactions/transaction_list', {collection: user.transactions, as: 'transaction'})

p 
  a(href='/user/'+user._id+'/edit', title="edit") Edit
  &nbsp;
  a(class='destroy', href='/user/'+user._id, title="delete") Delete
  &nbsp;
  a(href='/users', title="back") Back
