- var is_admin = (everyauth.loggedIn && everyauth.user.is_admin)

div(class="investor")
  a(href='/user/'+aInvestor.user.id+'/profile')
    img(src=aInvestor.user.picture, width=100)
  div
    a(href='/user/'+aInvestor.user.id+'/profile') #{aInvestor.user.fname} #{aInvestor.user.lname}
    div #{aInvestor.user.company}
    if (aInvestor.user.twitter)
      a(href="https://twitter.com/"+aInvestor.user.twitter, class="twitter-follow-button",data-show-count="false") Follow &#64;#{aInvestor.user.twitter}

    if (is_admin)
      br 
      br
      div.investor_funds
        strong funds 
        each fund in aInvestor.funds
          $
          =Math.round(fund)
          &nbsp
      div
        strong actions
        &nbsp
        a(href='/user/'+aInvestor.user._id+'/edit', title="edit") Edit User
        &nbsp|&nbsp
        a(class='destroy', href="/investor/"+aInvestor.id, title="delete") Del